* {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.golden-chiquito {
  width: 700px;
  height: auto;
}

.body {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0px;
  background-image: url("");
}

.reservation {
  background-color: #ffd4b1;
  border-radius: 10px;
  grid-column-start: 2;
}

.reservation.dark {
  background-color: #806a58;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.reservation h2 {
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-top: 50px;
}

form div {
  margin-bottom: 10px;
}

.labelTipoMascota {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 290px;
}

form input[type="date"],
.select-home {
  width: calc(50% - 10px);
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 200px;
}

form input[type="date"]:last-child {
  margin-right: 0;
}

form input[type="radio"] {
  margin-left: 235px;
}

form .checkboxes {
  display: flex;
  flex-direction: column;
}

form .checkboxes label {
  font-weight: normal;
}

.botonBuscar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 345px;
}
.botonBuscar.dark {
  background-color: #f4d03f;
  color: #000;
}

.botonBuscar:hover {
  background-color: #0056b3;
}
