main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.golden-chiquito  {
  width: 700px;
  height: auto;
}

.body {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.reservation {
  background-color: #ffffcc;
  border-radius: 10px;
  grid-column-start: 2;
}

.reservation.dark {
  background-color: #3d4d8e;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.reservation h2 {
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 200px;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 290px;
}

form input[type="date"],
form select {
  width: calc(50% - 10px);
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 200px;
}

form input[type="date"]:last-child {
  margin-right: 0;
}

form input[type="radio"] {
  margin-left: 235px;
}

form .checkboxes {
  display: flex;
  flex-direction: column;
}

form .checkboxes label {
  font-weight: normal;
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 345px;
}

form button:hover {
  background-color: #0056b3;
}

