.bells-icon {
  fill: black;
  z-index: 3;
}

.user-icon {
  fill: black;
  z-index: 3;
}

.icon-container {
  display: flex;
  margin-left: 500px;
}

.user-icon.dark,
.bells-icon.dark {
  fill: white;
}

.cuerpo.dark {
  background-color: #806a58;
}

.cuerpo {
  display: flex;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container button {
  margin-bottom: 8px;
}

.cuerpo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
}

.input-busqueda-usuario {
  border-radius: 50px;
  text-align: center;

  outline: none;
  border: 1px solid #ccc;
}

.button-container a button {
  cursor: pointer;
}
