.card-cuadrada {
  border: 2px solid #a9c4d4;
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  background-color: #f0f8ff;

  text-align: center;
}
.card-cuadrada.dark {
  background-color: #3a4a57;
  color: #fff;
  border: 2px solid #586e80;
}

.card-cuadrada h3 {
  margin-bottom: 16px;
  text-align: center;
}

.scrollable-table {
  max-height: 200px;
  overflow-y: auto;
}

.card-cuadrada table {
  width: 100%;
  margin-top: 16px;
  border-collapse: collapse;
}

.card-cuadrada td {
  padding: 8px;
  text-align: left;
}
