@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  font-family: "Bree Serif", serif;
}
body {
  overflow-y: auto;
}
.cuadradoRegister {
  width: 500px;
  height: 600px;
  background: bisque;
  margin: 150px auto auto auto;
  border-radius: 15px;
  margin-top: 50px;
}

.button {
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 13px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 200px;
}
.button:hover {
  color: grey;
}
.nombre-input {
  margin-top: 20px;
  height: 30px;
  width: 60%;
  text-align: center;
  border-radius: 15px;
  border: none;
  margin-left: 100px;
}
.apellido-input {
  margin-top: 20px;
  height: 30px;
  width: 60%;
  text-align: center;
  border-radius: 15px;
  border: none;
  margin-left: 100px;
}
.email-input {
  margin-top: 20px;
  height: 30px;
  width: 60%;
  text-align: center;
  border-radius: 15px;
  border: none;
  margin-left: 100px;
}
.password-input {
  margin-top: 20px;
  height: 30px;
  width: 60%;
  text-align: center;
  border-radius: 15px;
  border: none;
  margin-left: 100px;
}

.patita {
  display: flex;
  align-items: center;
  margin-left: 170px;
}

.cuenta {
  margin-left: 170px;
}

.link {
  margin-left: 205px;
}

.error-message {
  margin-left: 150px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.form-group label {
  margin-right: 10px;
  font-size: 16px;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.check-inputs {
  margin-right: 250px;
}
