@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: "Bree Serif", serif;
  margin-bottom: 0px;
}
body {
  background-color: #ffd4b1;
}

body.dark {
  background-color: #806a58;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  color: var(--text-color);
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 0;
}

.pata {
  margin-right: 10px;
  margin-left: 0;
  padding-left: 0;
  fill: var(--text-color);
}

.header-text {
  font-size: 24px;
  font-weight: bold;
  fill: var(--text-color);
}

.header-right {
  display: flex;
  align-items: center;
}

.language-selector {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
  font-size: 18px;
}

.language-selector:hover {
  text-decoration: underline;
}

.language-selector i {
  margin-left: 5px;
}

.theme-selector {
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10;
}

.theme-selector svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}

.header.light {
  z-index: 0;
}

.header.dark {
  --text-color: white;
  z-index: 0;
}
