@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: "Bree Serif", serif;
  
}
body{
  background-color: #ffffcc
}

body.dark{
  background-color: #000000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b1dcff;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  flex: 1;
  position: absolute;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header-left {
  display: flex;
  align-items: center;
}

.patita {
  margin-right: 10px;
  fill: var(--text-color);
}

.header-text {
  font-size: 24px;
  font-weight: bold;
  fill: var(--text-color);
}

.header-right {
  display: flex;
  align-items: center;
}

.language-selector {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
  font-size: 18px;
}

.language-selector:hover {
  text-decoration: underline;
}

.language-selector i {
  margin-left: 5px;
}

.theme-selector {
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10;
}

.theme-selector svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}

.header.light {
  background-color: #b1dcff;
  z-index: 0;
}

.header.dark {
  background-color: #586e80;
  --text-color: white;
  z-index: 0;
}
