.card {
  background-color: #f0f8ff;
  border: 20px solid #b1dcff;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 480px;
  max-width: 100%;
}

.card.dark {
  background-color: #7e7dff;
  border: 20px solid #586e80;
}

h3 {
  display: inline;
}

.input-busqueda-usuario {
  margin-left: 16px;
}

.scrollable-list {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.scrollable-list li {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable-list .button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
}
