.card-cuadrada {
  background-color: #e0f7fa;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  margin: 0 auto;
}

.card-cuadrada.dark {
  background-color: #586e80;
}

.card-cuadrada h2 {
  text-align: center;
  background-color: #81d4fa;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

.card-cuadrada.dark h2 {
  background-color: #4891f7;
}

.card-cuadrada table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.card-cuadrada th,
.card-cuadrada td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.card-cuadrada th {
  font-weight: bold;
}

.card-cuadrada tr:hover {
  background-color: #f1f1f1;
}
.card-cuadrada.dark tr:hover {
  background-color: #586e80;
}

.card-cuadrada button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-cuadrada button:hover {
  background-color: #e60000;
}

.card-cuadrada .guarderia-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-cuadrada .guarderia-item.dark {
  background-color: #7e7dff;
}

.card-cuadrada .descripcion {
  flex: 1;
}

.card-cuadrada .modificar {
  color: #000;
  cursor: pointer;
}

.card-cuadrada .icono {
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
}
