.guarderia-container {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.guarderia-container.dark {
  background-color: #586e80;
}

.guarderia-container h2 {
  text-align: center;
  background-color: #81d4fa;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

.guarderia-container.dark h2 {
  background-color: #4891f7;
}

.guarderia-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.guarderia-item.dark {
  background-color: #7e7dff;
}

.descripcion {
  flex: 1;
}

.modificar {
  color: #000;
  cursor: pointer;
}

.icono {
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
}
