.guarderia-container {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.guarderia-container.dark {
  background-color: #586e80;
}

.guarderia-container h2 {
  text-align: center;
  background-color: #81d4fa;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

.guarderia-container.dark h2 {
  background-color: #4891f7;
}

.guarderia-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.guarderia-item.dark {
  background-color: #3a4a57;
  color: #fff;
}

.descripcion {
  flex: 1;
}

.modificar {
  color: #007bff;
  cursor: pointer;
}

.modificar.dark {
  color: #fff;
}

.eliminar {
  color: #ff4d4d;
  cursor: pointer;
}

.eliminar.dark {
  color: #fff;
}

.icono {
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
}

.edit-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.edit-form.dark {
  background-color: #3a4a57;
  color: #fff;
}

.edit-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-form label {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.edit-form.dark label {
  color: #fff;
}

.edit-form input[type="text"],
.edit-form select {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.edit-form.dark input[type="text"],
.edit-form.dark select {
  background-color: #586e80;
  border: 1px solid #4a5a6b;
  color: #fff;
}

.edit-form input[type="radio"],
.edit-form input[type="checkbox"] {
  margin-left: auto;
}

.edit-form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.edit-form button:hover {
  background-color: #0056b3;
}

.edit-form button[type="button"] {
  background-color: #ff4d4d;
}

.edit-form button[type="button"]:hover {
  background-color: #e60000;
}
