body {
  overflow-y: auto;
}

.dueno-guarderia {
  font-family: Arial, sans-serif;
}

.bodyDuenoG {
  background-color: #ffd4b1;
  margin-bottom: 0px;
}

.bodyDuenoG.dark {
  background-color: #806a58;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f1f1f1;
}

.header-right {
  display: flex;
  align-items: center;
}

.user-info {
  margin-right: 16px;
}

.settings button {
  margin-left: 8px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 16px;
  flex-direction: row;
}

.card-cuadrada {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  margin: 16px;
  padding: 16px;
  background-color: #d0e7f9;
  border: 2px solid #a9c4d4;
  border-radius: 10px;
}

.boton-eliminar-due単o{
  background-color: #b1dcff;
  border-radius: 10px;
  cursor: pointer;
  border: 1px;
  height: 50px;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 1100px;
}

.boton-eliminar-due単o:hover {
  background-color: #0056b3;
  text-decoration: none;
}

.boton-eliminar-due単o.dark {
  background-color: #0056b3;
  color: #fff;
}

.boton-eliminar-due単o.dark:hover {
  background-color: #007bff;
}
